// colors

$primary_color:#036b81;  	
$secondary_color: #098eb4;
$third_color:#2edaff;
$background_color: #080710;
$text_color: white;


//fonts

$font: Helvetica, sans-serif;
$font-size-s:0.5rem;
$font-size-m:0.1rem;
$font-size-l:1.5rem;
$font-size-xl:2rem;
$font-size-xxl:2.5rem;
